= form_for @user do |f|
  = render 'shared/errors', resource: @user

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :school_id
    - @user.school_id ||= current_school.id
    = f.select(:school_id, School.all.collect{|s| [s.name, s.id]})
  .field
    = f.label :homepage
    = f.text_field :homepage
  .field
    = f.label :students_details
    = f.text_field :students_details
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :date_of_birth
    = f.text_field :date_of_birth
  .field
    = f.label :mobile_no
    = f.text_field :mobile_no
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :enrolment_of_class
    = f.text_field :enrolment_of_class
  
  .field
    = f.label :father_or_mother
    = f.text_field :father_or_mother
  .field
    = f.label :occupation
    = f.text_field :occupation
  .field
    = f.label :qualification
    = f.text_field :qualification
  .field
    = f.label :hide_last_name, "Hide last name (in Attendance)"
    = f.check_box :hide_last_name
  .actions
    = f.submit 'Save'
